/*
	--theme-color
	--theme-color-light
	--theme-color-dark
	--theme-color-primary-action-light
	--theme-color-primary-action-dark
	--theme-color-secondary-action-light
	--theme-color-secondary-action-dark
	--theme-color-surface-1
	--theme-color-surface-2
	--theme-color-surface-3
	--theme-color-text-1
	--theme-color-text-2

*/


:root {

	--wcl-font-family: Arial, Helvetica, sans-serif;

	/* Colors */
	--wcl-color-primary-dark: rgb(37, 68, 12);

	--wcl-overlay-background-color: rgba(0, 0, 0, 0.3);

	--wcl-color-info: #1f87b8;
	--wcl-background-color-info: #e6f7ff;

	--wcl-color-contained-info: rgb(37, 68, 12);
	--wcl-background-color-contained-info: #26295c;

	--wcl-color-primary: #3880ff;
	--wcl-background-color-primary: #e6f7ff;

	--wcl-color-contained-primary: #fff;
	--wcl-background-color-contained-primary: #3880ff;

	--wcl-color-success: #009E52;
	--wcl-background-color-success: #f6ffed;

	--wcl-color-contained-success: #fff;
	--wcl-background-color-contained-success: #009E52;

	--wcl-color-warning: #ecbf09;
	--wcl-background-color-warning: #fffbe6;

	--wcl-color-contained-warning: #000;
	--wcl-background-color-contained-warning: yellow;

	--wcl-color-danger: #b12020;
	--wcl-background-color-danger: #fff2f0;

	--wcl-color-contained-danger: white;
	--wcl-background-color-contained-danger: crimson;

	--wcl-background-color-secondary: #0cd1e8;
	--wcl-color-secondary: #032517;

	--wcl-color-contained-secondary: #fff;
	--wcl-background-color-contained-secondary: #e8c00c;

	--wcl-background-color-tertiary: #f4a942;
	--wcl-color-tertiary: #b446b4;

	--wcl-disabled-background-color: lightgray;
	--wcl-disabled-color: darkgray;

	/* Hoverable */
	--wcl-hoverable-background-color: rgb(211, 227, 233);
	--wcl-hoverable-color: black;

	/*
    

    

    
    
    
    
    --wcl-color-light: #f4f5f8;
    --wcl-color-medium: #989aa2;
    --wcl-color-dark: #222428;

    --wcl-background-color:#fff;

    --wcl-selected-background-color:#8ebeba;
    --wcl-selected-color: gold;

    --wcl-header-background-color: #1d62d8;

    */

	/* Font sizes */
	--wcl-font-size-large: 2.56rem;
	--wcl-font-size-medium: 1.6rem;
	--wcl-font-size-small: 1rem;

	/* Icon sizes */
	--wcl-icon-size-large: 2.048rem;
	--wcl-icon-size-medium: 1.28rem;
	--wcl-icon-size-small: .8rem;

	/* Border */
	--wcl-border-width: .1em;
	--wcl-border-radius: .4em;

	/* Min height */
	--wcl-min-height: 1.2em;

	/* Margin */
	--wcl-margin: .25em;
}

body {
	font-family: var(--wcl-font-family);
}

/* Color scheme */
* {
	/* base color */
	--brand-hue: 125;

	/* pastel */
	--brand-saturation: 50%;

	/* light */
	--text-color-light: hsl(var(--brand-hue) var(--brand-saturation) 10%);
	--bg-color-light: hsl(var(--brand-hue) var(--brand-saturation) 95%);
	--alt-bg-color-light: hsl(var(--brand-hue) var(--brand-saturation) 90%);

	--header-text-color-light: hsl(var(--brand-hue) var(--brand-saturation) 95%);
	--header-bg-color-light: hsl(var(--brand-hue) var(--brand-saturation) 40%);

	--hover-text-color-light: hsl(var(--brand-hue) var(--brand-saturation) 25%);
	--hover-bg-color-light: hsl(var(--brand-hue) var(--brand-saturation) 85%);

	--surface-shadow-light: var(--brand-hue) var(--brand-saturation) 20%;
	--shadow-strength-light: .02;

	/* dark */
	--text-color-dark: hsl(var(--brand-hue) var(--brand-saturation) 85%);
	--bg-color-dark: hsl(var(--brand-hue) var(--brand-saturation) 5%);
	--alt-bg-color-dark: hsl(var(--brand-hue) var(--brand-saturation) 15%);

	--header-text-color-dark: hsl(var(--brand-hue) var(--brand-saturation) 10%);
	--header-bg-color-dark: hsl(var(--brand-hue) var(--brand-saturation) 85%);

	--hover-text-color-dark: hsl(var(--brand-hue) var(--brand-saturation) 85%);
	--hover-bg-color-dark: hsl(var(--brand-hue) var(--brand-saturation) 25%);

	--surface-shadow-dark: var(--brand-hue) var(--brand-saturation) 3%;
	--shadow-strength-dark: .8;
}

[color-scheme="light"] {
	color-scheme: light;

	--text-color: var(--text-color-light);
	--bg-color: var(--bg-color-light);
	--alt-bg-color: var(--alt-bg-color-light);

	--header-text-color: var(--header-text-color-light);
	--header-bg-color: var(--header-bg-color-light);

	--hover-text-color: var(--hover-text-color-light);
	--hover-bg-color: var(--hover-bg-color-light);

	--surface-shadow: var(--surface-shadow-light);
	--shadow-strength: var(--shadow-strength-light);
}

[color-scheme="dark"] {
	color-scheme: dark;

	--text-color: var(--text-color-dark);
	--bg-color: var(--bg-color-dark);
	--alt-bg-color: var(--alt-bg-color-dark);

	--header-text-color: var(--header-text-color-dark);
	--header-bg-color: var(--header-bg-color-dark);

	--hover-text-color: var(--hover-text-color-dark);
	--hover-bg-color: var(--hover-bg-color-dark);

	--surface-shadow: var(--surface-shadow-dark);
	--shadow-strength: var(--shadow-strength-dark);
}

body {
	background-color: var(--bg-color);
	color: var(--text-color);
}

/*
:host {
      display: grid;
      grid-template-columns: auto 1fr;
      overflow: hidden;
    }
    [part~="navigation"] {
      position: relative;
      overflow: auto;
    }
    #toolbar {
      display: grid;
      position: sticky;
      top: 0;
      width: 100%;
    }
*/