<!DOCTYPE html>
<html lang="en">

<head>

    <script>

        function getItemStyle() {

            return {
                listStyleType: 'circle'
            };
        }

        function getTemplate(record) {

            const {
                name,
                reputation,
                description
            } = record;

            return html`<div style="width: 200px;">
                <div style="background-color: lightgreen;">${name}</div>
                <div style="background-color: yellow;">${reputation}</div>
                <div style="background-color: darkred; color: white; font-weight: bold;">${description}</div>
            </div>`;
        }

        function getFields() {

            return ["name", "reputation", "description"];
        }

        function showSelection(selection) {

            alert('Selection: ' + JSON.stringify(selection));
        }

    </script>
</head>

<body>

    <h4>Data list</h4>
    <wcl-loader load-url="http://localhost:60314/api/contacts/">
        <wcl-data-list id-field="name" display-field="name" item-template="getTemplate()"
            selection-changed="showSelection()">
        </wcl-data-list>
    </wcl-loader>

    <h4>Data grid</h4>
    <wcl-loader load-url="http://localhost:60314/api/contacts/">
        <wcl-data-grid id-field="name" fields="getFields()"></wcl-data-grid>
    </wcl-loader>

    <h4>Data template</h4>
    <wcl-loader load-url="http://localhost:60314/api/contacts/1">
        <wcl-data-template template="getTemplate()">
        </wcl-data-template>
    </wcl-loader>

</body>

</html>