<!DOCTYPE html>
<html lang="en">

<head>
 </head>

<body>

    <wcl-localized-text intl-key="goodMorning" kind="secondary" size="large"></wcl-localized-text>
    <br />
    <wcl-localized-text intl-key="goodMorning" lang="fr" kind="secondary"></wcl-localized-text>
    <!-- 
    <br />
The attribute value does not exist in text
    <wcl-localized-text value="Buenos días in value" kind="tertiary" size="small"></wcl-localized-text> 
-->
    <br />
    <wcl-localized-text kind="info" style="color:orangered; font-size: 64px;">Buenos días in slot</wcl-localized-text>
    <br />
    <wcl-localized-text intl-key="noTranslationForAnylanguage" kind="warning">There is no translation for any
        language</wcl-localized-text>
    <br />
    <wcl-localized-text intl-key="goodMorning" lang="it" kind="success">There is no translation in italian
    </wcl-localized-text>
    <br />
    <wcl-localized-text intl-key="goodMorning" lang="de" kind="danger" style="color:magenta; font-size: 2.5rem;">
    </wcl-localized-text>
    <br />
    <wcl-localized-text intl-key="myText">My text</wcl-localized-text>

</body>

</html>