<!DOCTYPE html>
<html lang="en">

<head>

    <script>

        window.addEventListener('sorterChanged', event => alert(`
            Event type: 'sorterChanged'
            Field name: '${event.detail.field}'
            Ascending: '${event.detail.ascending}'
            Sorter element id: '${event.detail.element.id}'
        `));

    </script>

</head>

<body>

    <wcl-sorter-tool size="large" id="sorter-1" field="amount" kind="warning"></wcl-sorter-tool>

    <wcl-sorter-tool size="medium" id="sorter-2" field="amount" kind="primary"></wcl-sorter-tool>

    <wcl-sorter-tool size="small" id="sorter-3" field="amount" kind="danger"></wcl-sorter-tool>

</body>

</html>