<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../../variables.css">

    <script type="module">
        import appConfig from "../js/appConfig.js";

        window.getAppConfig = () => appConfig;
    </script>

    <script type="module" src="../../../dist/js/bundle.js"></script>

    <title>Row</title>

</head>

<body>
    <wcl-panel style="height: 400px;">
        <div slot="header">This is the title</div>
        <div slot="body">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsam minima, eligendi asperiores ex necessitatibus praesentium, autem at ipsum aperiam ducimus dolore quod molestiae repellat doloribus, quos perferendis enim explicabo nisi?
        </div>
        <div slot="footer">Footer</div>
    </wcl-panel>
</body>

</html>