:root {
    --wcl-font-family: Arial, Helvetica, sans-serif;

    /* Colors */
    --wcl-color-primary: #3880ff;
    --wcl-color-on-primary: #fff;

    --wcl-color-secondary: #0cd1e8;
    --wcl-color-on-secondary: #032517;

    --wcl-color-tertiary: #f4a942;
    --wcl-color-on-tertiary: #4419aa;

    --wcl-color-info: #e6f7ff;
    --wcl-color-on-info: #1f87b8;

    --wcl-color-success: #f6ffed;
    --wcl-color-on-success: #10dc60;

    --wcl-color-warning: #fffbe6;
    --wcl-color-on-warning: #ffce00;

    --wcl-color-danger: #fff2f0;
    --wcl-color-on-danger: #f14141;
    
    --wcl-color-light: #f4f5f8;
    --wcl-color-medium: #989aa2;
    --wcl-color-dark: #222428;

    --wcl-background-color:#fff;

    --wcl-hoverable-background-color:rgb(211, 227, 233);
    --wcl-hoverable-color: black;

    --wcl-selected-background-color:#8ebeba;
    --wcl-selected-color: gold;

    --wcl-header-background-color: #1d62d8;

    /* Border width */
    --wcl-border-width: 2px;

    /* Heights */
    --wcl-min-height-large: 1.5rem;
    --wcl-min-height-medium: 1.25rem;
    --wcl-min-height-small: 1rem;

    /* Font sizes */
    --wcl-font-size-large: 2rem;
    --wcl-font-size-medium: 1.5rem;
    --wcl-font-size-small: 1rem;

    /* Padding sizes */
    --wcl-padding-size-large: .375rem;
    --wcl-padding-size-medium: .25rem;
    --wcl-padding-size-small: .125rem;

    /* Radius sizes */
    --wcl-radius-size-large: .3rem;
    --wcl-radius-size-medium: .25rem;
    --wcl-radius-size-small: .2rem;

    /* Width (of borders) sizes */
    --wcl-width-size-large: .15rem;
    --wcl-width-size-medium: .1rem;
    --wcl-width-size-small: .05rem;

    --wcl-icon-size-large: 2rem;
    --wcl-icon-size-medium: 1.5rem;
    --wcl-icon-size-small: 1rem;
}

body {
    margin: 0px;
    padding: 0px;
    user-select: none;
    box-sizing: border-box;
    font-family: var(--wcl-font-family);
}
