:root {
    --wcl-font-family: Arial, Helvetica, sans-serif;

    /* Colors */

    --wcl-color-info: #1f87b8;
    --wcl-background-color-info: #e6f7ff;

    --wcl-color-contained-info: rgb(255, 255, 255);
    --wcl-background-color-contained-info: #26295c;
    
    --wcl-color-primary: #3880ff;
    --wcl-background-color-primary: #e6f7ff;

    --wcl-color-contained-primary: #fff;
    --wcl-background-color-contained-primary: #3880ff;

    --wcl-color-success: #009E52;
    --wcl-background-color-success: #f6ffed;

    --wcl-color-contained-success: #fff;
    --wcl-background-color-contained-success: #009E52;
    
    --wcl-color-warning: #ecbf09;
    --wcl-background-color-warning: #fffbe6;

    --wcl-color-contained-warning: #000;
    --wcl-background-color-contained-warning: yellow;
    
    --wcl-color-danger: #b12020;
    --wcl-background-color-danger: #fff2f0;

    --wcl-color-contained-danger: white;
    --wcl-background-color-contained-danger: crimson;

    --wcl-background-color-secondary: #0cd1e8;
    --wcl-color-secondary: #032517;

    --wcl-color-contained-secondary: #fff;
    --wcl-background-color-contained-secondary: #e8c00c;

    --wcl-background-color-tertiary: #f4a942;
    --wcl-color-tertiary: #b446b4;
    
/*
    

    

    
    
    
    
    --wcl-color-light: #f4f5f8;
    --wcl-color-medium: #989aa2;
    --wcl-color-dark: #222428;

    --wcl-background-color:#fff;

    --wcl-hoverable-background-color:rgb(211, 227, 233);
    --wcl-hoverable-color: black;

    --wcl-selected-background-color:#8ebeba;
    --wcl-selected-color: gold;

    --wcl-header-background-color: #1d62d8;

    */

    /* Border width */
    --wcl-border-width: 2px;

    /* Heights */
    --wcl-min-height-large: 1.5rem;
    --wcl-min-height-medium: 1.25rem;
    --wcl-min-height-small: 1rem;

    /* Font sizes */
    --wcl-font-size-large: 2rem;
    --wcl-font-size-medium: 1.5rem;
    --wcl-font-size-small: 1rem;

    /* Padding sizes */
    --wcl-padding-large: .375rem;
    --wcl-padding-medium: .25rem;
    --wcl-padding-small: .125rem;

    /* Radius sizes */
    --wcl-radius-size-large: .3rem;
    --wcl-radius-size-medium: .25rem;
    --wcl-radius-size-small: .2rem;

    /* Width (of borders) sizes */
    --wcl-width-size-large: .15rem;
    --wcl-width-size-medium: .1rem;
    --wcl-width-size-small: .05rem;

    --wcl-icon-size-large: 2rem;
    --wcl-icon-size-medium: 1.5rem;
    --wcl-icon-size-small: 1rem;
}

body {
    margin: 0px;
    padding: 0px;
    user-select: none;
    box-sizing: border-box;
    font-family: var(--wcl-font-family);
}
